a {
  text-decoration: none;
  color: black;
}
@media screen and (max-width: 480px){ 
  .ant-drawer-content-wrapper {
    width: 100vw;
  }
}
.cart-row2 {
  @apply flex justify-between items-center;
  margin-top: -7%; margin-bottom: 4%;
}
.currency-div {
  position: relative;
  width: auto;
}
.close-cart {
  display: inline-block;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  border: 0px;
  padding: 0rem;
  border-radius: 9999px;
}
.close-cart-div {
  @apply flex justify-center items-center;
  border-radius: 9999px;
  border: 2px solid rgb(198, 204, 199);
  width: 3rem;
  height: 3rem;
}

.close-cart-icon {
  vertical-align: middle;
  display: inline-block;
  color: currentcolor;
  flex-shrink: 0;
  font-size: 15px;
}
.currency-selector + div {
  right: 0rem;
  left: unset;
}
.currency-selector {
  color: currentcolor;
  font-size: 13px;
  position: absolute;
  display: inline-flex;
  width: 1.5rem;
  height: 100%;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  right: 0.5rem;
  pointer-events: none;
  top: 50%;
  transform: translateY(-50%);
}

.currency-select {
  width: 100%;
  outline: 0px;
  position: relative;
  appearance: none;
  transition: all 0.2s ease 0s;
  padding-right: 25px;
  color: currentcolor;
  height: 38px;
  background: transparent;
  border-radius: 0px;
  border: 0px;
  font-size: 13px;
}
.currency-select-icon {
  width: 1em;
  height: 1em;
  color: currentcolor;
}

.cart-group {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  margin-bottom: 0.25rem;
  overscroll-behavior: auto;
  height: 400px;
}
.cart-group > :not(style) ~ :not(style) {
  margin-top: 1rem;
  margin-left: 0rem;
}

.cart-payment-section {
  flex-direction: column;
  display: flex;
  padding-top: 1.25rem;
  max-width: 100%;
}
.cart-subtotal {
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
  display: flex;
  margin-bottom: 0.75rem;
}

.cart-subtotal-text {
  font-family: "FF Bau Regular", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 11.2px;
  font-weight: 600;
  flex-shrink: 0;
}

.cart-subtotal-price {
  flex-flow: row wrap;
  -webkit-box-pack: start;
  justify-content: flex-start;
  display: flex;
}

.cart-subtotal-price-text {
  font-family: "FF Bau Regular", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 12.5px;
  font-weight: 600;
}

.payment-button {
  display: flex;
  appearance: none;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  outline: none;
  border: 0px;
  font-weight: 600;
  font-family: "FF Bau Regular", sans-serif;
  padding: 1rem;
  min-height: 52px;
  background: rgb(75, 85, 72);
  width: 100%;
  text-transform: uppercase;
}
.payment-button-text {
  font-family: "FF Bau Regular", sans-serif;
  color: rgb(252, 252, 249);
  font-size: 13.5px;
  font-weight: 600;
  letter-spacing: 0.7px;
  margin: 0px;
}
/*
.sort-by-wrapper {
  border-radius: 5%;
  border: 1px solid #000;
}
.select-sort-by {
  appearance: none;
  outline: none;
}
.option-sort-by:after {
  appearance: none;
  outline: none;
  font-size: 14px;
  font-weight:600;
  width: 300px;
  background-color: antiquewhite;
}
.label-sort-by {
  outline: none;
  appearance: none;
  font-size: 14px;
  font-weight: 300;
}
*/

.select-order {
  display:flex;
  flex-direction: column;
  position:relative;
  width:250px;
  height:40px;
}

.option {
  padding:0 30px 0 10px;
  min-height:40px;
  display:flex;
  align-items:center;
  background:#e1e1e1;
  border-top:#222 solid 1px;
  position:absolute;
  top:0;
  width: 100%;
  pointer-events:none;
  order:2;
  z-index:1;
  transition:background .4s ease-in-out;
  box-sizing:border-box;
  overflow:hidden;
  white-space:nowrap;
  
}

.option:hover {
  background:#e1e1e1;
}

.select-order:focus .option {
  position:relative;
  pointer-events:all;
}

input {
  opacity:0;
  position:absolute;
  left:-99999px;
}

input:checked + label {
  order: 1;
  z-index:2;
  background:#e1e1e1;
  border-top:none;
  position:relative;
}

input:checked + label:after {
  content:'';
  width: 0; 
	height: 0;
  z-index:3;
  right:10px;
  position:absolute;
  pointer-events:none;
  top: calc(50% - 2.5px);
	border-top: 5px solid black;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
}

input:checked + label:before {
  position:absolute;
  right:0;
  height: 40px;
  width: 40px;
  content: '';
  background:transparent;
}