.cart-item {
  flex-direction: column;
  display: flex;
  background: rgb(255, 255, 255);
  padding: 0.75rem;
  color: rgb(30, 45, 43);
  position: relative;
  min-height: 18vh;
}

.remove-cart-item {
  display: inline-block;
  appearance: none;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  transition: all 250ms ease 0s;
  user-select: none;
  white-space: nowrap;
  vertical-align: middle;
  outline: none;
  width: auto;
  border: 0px;
  line-height: inherit;
  font-weight: inherit;
  font-family: inherit;
  min-height: auto;
  min-width: auto;
  height: auto;
  padding: 0rem;
  background: none;
  position: absolute;
  top: 0.25rem;
  right: 0.5rem;
}

.cart-item-content {
  display: flex;
  flex-direction: row;
  padding-right: unset;
}
.cart-content-text {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  justify-content: space-between;
  font-size: 14px;
}
.cart-content-img {
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  display: flex;
  width: 80px;
  margin-left: 0.5rem;
}
.cart-product-name {
  font-family: "FF Bau Regular", sans-serif;
  font-weight: 500;
}
.cart-item-price {
  -webkit-box-pack: end;
  justify-content: flex-end;
  display: flex;
  margin-right: 0.5rem;
  margin-left: 0rem;
}

.cart-item-base {
  @apply flex flex-row justify-between items-center;
  margin-top: 7vh;
}
.cart-item-qty-section {
  @apply flex flex-row justify-between items-center;
  border: 1px solid rgb(226, 230, 227);
  border-radius: 10%;
  width: 70px;
  margin-top: -5px;
}

.cart-item-qty {
  font-family: "FF Bau Regular", sans-serif;
  font-weight: 400;
  font-size: 12px;
  @apply align-middle;
  margin-bottom: 2px;
  transition: all 250ms ease 0s;
}
.cart-qty-action-icon {
  vertical-align: middle;
  color: currentcolor;
  font-size: 12px;
  padding: 0px 5px;
  cursor: pointer;
}