header {
  border-bottom: 1px solid lightgray;
  box-shadow: 3px 10px #F5F5F4;
}
main {
  background-color: #F5F5F4;
}
.banner__section {
  background-image: url('https://cdn.shopify.com/s/files/1/2960/5204/files/HERO_1264x352_0dfec503-d85d-4a9b-a0aa-d0b92cae2727.jpg?v=1637235066');
  height: 352px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* background-color: rgba(0, 0, 0, 0.7); */
}
.overlay {
  /* position: fixed; */
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
}
.select {
  outline: none;
  width: 20px;
  background: none;
}
.sticky__sect {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
.modal {
  background: rgba(0,0,0,0.3);
}
.modal__content {
  min-width: 500px;
  width: 50%;
  font-size: 14px;
}
